{
	"CFBundleDevelopmentRegion" = English;
	CFBundleExecutable = "Web Search";
	CFBundleIdentifier = "com.blacktree.Quicksilver.QSWebSearchPlugIn";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundleName = "Web Search";
	CFBundlePackageType = BNDL;
	CFBundleVersion = 11B;
	NSPrincipalClass = QSWebSearchPlugIn;
}